body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
}

.container { 
  text-align: center;
  margin: 48px;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 300px;
}

img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
  margin: 10px 0;
}

section {
  margin-top: 24px;
}

.link-btn {
  display: block;
  margin: 10px 0;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.link-btn:hover {
  background-color: #388E3C;
}